.zoom {
  transition: transform .2s;
}

.zoom:hover {
  -ms-transform: rotate(90deg) scale(1.5); /* IE 9 */
  -webkit-transform: rotate(90deg) scale(1.5); /* Safari 3-8 */
  transform: rotate(90deg) scale(1.5); 
}